.page__header {
    margin: 0 auto 28px;
    padding-top: 28px;
    padding-bottom: 28px;
}

@media (max-width: 1024px) {
    .page__header {
        margin: 0 auto 20px;
    }
}
 

@media (max-width: 320px) {
    .page__header {
        padding-top: 16px;
    }
 }