.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    text-align: center;
    margin: 0 auto 32px;
}

@media (max-width: 768px) {
    .lead__title {
        font-size: clamp(40px, 13vw, 96px);
        line-height: clamp(44px, 13vw, 100px);
        margin-bottom: clamp(16px, 5vw, 32px);
    }
}

@media (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}
