.lead__subtitle {
    margin: 0 auto 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    text-align: center;
}

@media (max-width: 1024px) {
    .lead__subtitle {
        margin: 0 auto 56px;
    }
}

@media (max-width: 768px) {
    .lead__subtitle {
        font-size: clamp(16px, 5vw, 30px);
        line-height: clamp(20px, 5vw, 36px);
        margin: 0 auto 40px;
    }
}

