.place__link {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: currentColor;
    opacity: 1;
    transition: ease 0.3s;
}

.place__link:hover {
    opacity: 0.8;
}